<div class="bg-video">
    <video class="bg-video-content" autoplay muted loop>
        <source src="../../assets/video/brewdogofficial.mp4" type="video/mp4">
            Your browser is unfortunately not supported!
    </video>
</div>

<div class="landing">
    <p><span class="highlight">We are Brewdog and these are the things we believe in.</span></p>
    <h3><span class="highlight-large">BREWDOG BELIEVE</span></h3>
    <p><span class="highlight">These are core beliefs shared by everyone at BrewDog. Values we fight for every day</span></p>
</div>