@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

.container {
    margin-top: 1rem;
}

.para {
    text-align: center;
    font-size: 25px;
}

img {
    border: 3px dashed black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .50;
    overflow: hidden;
}

.bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.landing {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

span {
    background-color: black;
}

.highlight {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;  
    font-size: 2rem;
    line-height: 5rem;
    padding: .5rem;
}

.highlight-large {
    display: inline-block;
    color: rgb(62, 169, 177);
    font-family: 'Acme', sans-serif;  
    font-size: 5rem;
    line-height: 7rem;
    padding: 2rem;
    margin: -1.5rem 0;
    text-decoration: overline underline;
}