.navbar {
    border-bottom: 1px solid black;
    box-shadow: 0 6px 4px -4px black;
}

.logo {
    height: 80px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.beerdesc {
    text-align: center;
}

.component {
    margin: 8rem 0 8rem 0;
}

.beerimg {
    margin-right: 2rem;
}