<nav class="navbar navbar-light bg-dark sticky-top nav-fill">
    <img class="logo image-fluid" src="../assets/images/logo.png" alt="brewdog logo">

    
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
        type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Beers</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="#!">Search the Library</a>
            <a class="dropdown-item" href="#!">Random</a>
        </div>
    </div>


    <h3 class="nav-header">Community</h3>
    <h3 class="nav-header">Locations</h3>
    <h3 class="nav-header">Shop</h3>
    <img class="logo image-fluid" src="../assets/images/logo.png" alt="brewdog logo">
</nav>


<!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item" href="#!">Action</a>
          <a class="dropdown-item" href="#!">Another action</a>
        </div>
      </div> -->






<div class="container-fluid">
    <div class="row component" *ngFor="let beer of listbeers">
        <div class="col-12 col-sm-4 align-self-center">
            <img class="image-fluid beerimg" src="{{beer.image_url}}" alt="">
        </div>
        <div class="col-12 col-sm-8 beerdesc align-self-center">
            <h1 class="text-uppercase font-weight-bold">{{beer.name}}</h1>
            <h3 class="text-monospace">({{beer.tagline}})</h3>
            <hr>
            <h4 class="text-monospace">{{beer.description}}</h4>
            <hr>
            <h4 class="text-monospace">Best served with {{beer.food_pairing}}</h4>
            <hr>
            <h4 class="text-monospace">{{beer.abv}}% ABV</h4>
        </div>
        <hr>
    </div>
</div>